.MonteCarlo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #212E59;
  margin-bottom: 10vw;

  .dartBoard {
    width: 70vw;
  }

  .addDarts {
    text-align: center;
    font-size: 3vw;
    font-weight: bold;
  }

  .dartsAndControls {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .controls {
    height: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    section{
      display: flex;
      width: 100%;
      height: fit-content;
      margin: auto;
      flex-direction: column;
      justify-content: space-around;
      align-content: center;
      text-align: center;
      height: inherit;
      button {
        margin: 1vw;
        height: 6vw;
        width: 14vw;
        padding: 1vw;
        font-size: 2vw;
      }
    }
  }

  .modalButton {
    width: 32vw;
    font-size: 2vw;
  }

  .pivsCountScatterplot {
    width: 90vw;
  }

    
  @media screen and (min-aspect-ratio: 2/3){

    .dartsAndControls {
      display: block;
    }
    display: grid;
    grid-template-areas: "dartsAndControls statsContainer"
                         "pivsCountScatterplot pivsCountScatterplot"
                         "modalButton modalButton";

    .statsContainer {
      grid-area: statsContainer;
      width: 20vw;
      margin: auto;
    }
    .modalButton {
      grid-area: modalButton;
      margin: auto;
    }

    .dartsAndControls {
      grid-area: dartsAndControls;
      width: 70vw;
      margin: auto;
    }
    .pivsCountScatterplot{
      grid-area: pivsCountScatterplot;
      width: 90vw;
      margin: auto;
    }
  }

  @media screen and (min-aspect-ratio: 1/1){

    display: grid;
    grid-template-areas: "dartBoard statsContainer"
                        "dartBoard pivsCountScatterplot"
                        "controls controls"
                        "modalButton modalButton";

    .statsContainer {
      grid-area: statsContainer;
      margin: auto;
    }
    .modalButton {
      grid-area: modalButton;
      margin: auto;
    }
    .dartBoard {
      grid-area: dartBoard;
      border: 1px blue solid;
    }
    .controls {
      grid-area: controls;
      margin: auto;
    }
    .pivsCountScatterplot{
      grid-area: pivsCountScatterplot;
      margin: auto;
    }
  }
}