.svg {
  overflow: visible;
  background: whitesmoke;
  display: block;
  width: 100%;
  height: 100%;
  color: #212E59;
  font-weight: bolder;
}

.container {
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 75%;
}

.MonteCarlo {
  display: flex;
  flex-direction: column;
  color: rgb(58, 78, 153);
}

.dartboard{
  margin-bottom: 7vh;
  background-color: whitesmoke;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.dartContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.controls {
  display: flex;
  flex-direction: column;
  margin-right: 7vw;
  margin-bottom: 6vh;
  justify-content: space-around;
  align-content: center;
  text-align: center;
  height: inherit;
  button {
    margin-bottom: 1vh;
    height: 4vh;
  }
  h3 {
    margin-bottom: 1vh;
  }
}

.scatterplot {
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
}