.MonteCarlo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(58, 78, 153);

  .dartBoard {
    width: 70vw;
  }

  .addDarts {
    text-align: center;
    font-size: 3vw;
    font-weight: bold;
  }

  .dartsAndControls {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .controls {
    height: 40vw;
    section{
      display: flex;
      width: 100%;
      height: fit-content;
      margin: auto;
      flex-direction: column;
      justify-content: space-around;
      align-content: center;
      text-align: center;
      height: inherit;
      button {
        margin: 1vw;
        height: 6vw;
        width: 14vw;
        padding: 1vw;
        font-size: 2vw;
      }
    }
  }
  
  .modalButton {
    width: 30vw;
    font-size: 2vw;
  }
  
  .stats {
    background-color: whitesmoke;
    padding: 1em;
    padding-top: 1em;
    border-radius: .5em;
    text-align: center;
    align-items: space-between;
    justify-content: center;
    text-align: center;
    width: 80vw;
    height: 14vh;
    margin: auto;
    word-wrap: break-word;
    font-size: 80%;
  }

  .pivsCountScatterplot {
    width: 100vw;
  }
}

