.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 75vw;
  height: 45vh;
  margin-left: 2vw;
  color: #212E59;
  font-weight: bolder;
}

.svg {
  background: whitesmoke;
  overflow: visible;
  width: 100%;
  height: 800px;
  color: #212E59;
}

