.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 85vw;
  font-weight: bolder;
}

.svg {
  background:whitesmoke;
  display: block;
  width: 100%;
  color: #212E59;
}
