.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 50%;
}

.svg {
  background: whitesmoke;
  border: solid black 1px;
  overflow: visible;
  width: 100%;
  height: 800px;
}
