.CvDGraphStats{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: .25em;
  margin: 1em 0 1em 0;
  width: 90vw;
  height: 25vw;
  border-radius: .5em;
  text-align: center;
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 100%;
    background: rgb(197, 209, 240);
    height: 100%;
    width: 25vw;
  }

  h2 {
    font-size: 3vw;
    font-weight: bold;
    height: 4vw;
    margin-bottom: 2vw;
  }

  h3 {
    font-size: 5vw;
  }

  .formula {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 90%;
    height: 100%;
  }
}
