.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 90%;
  margin: auto;
}

.svg {
  background:rgb(88, 108, 161);
  display: block;
  width: 100%;
  color: #212E59;
}
