.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 90%;
  margin: auto;

  @media screen and (min-aspect-ratio: 3/2) {
    width: 75%;
  }
}

.svg {
  background:whitesmoke;
  display: block;
  width: 100%;
  color: #212E59;
}

