.GraphGridMock {
    .gridContainer {
        display: grid;
        height: 50vh;
        grid-template-columns: 1fr 4fr;
        grid-template-rows: 1fr 4fr 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        text-align: center;

        .yLabel { 
            grid-area: 1 / 1 / 4 / 2; 
            text-align: center;
            align-items: center;
            overflow: hidden;

            h2 {
            width: 50vh;
            transform-origin: top right;
            transform: rotate(-90deg) translate(0, -82vw);
            }
        }
        .title { 
            grid-area: 1 / 2 / 2 / 3; 
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .graph { 
            grid-area: 2 / 2 / 3 / 3; 
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .xLabel { 
            grid-area: 3 / 2 / 4 / 3;
            display: flex;
            align-items: center;
            justify-content: center;

            h2 {
                display: flex;
                justify-content: center;
                align-content: center;
            }
        }
    }   
}