.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 85vw;
  border: solid blue 2px;
}

.svg {
  display: block;
  width: 100%;
  height: 100%;
  color: '#212E59';
}

