.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 85vw;
  font-weight: bolder;
}

.svg {
  background: #212E59;
  display: block;
  width: 100%;
  color: whitesmoke;
}


