.svg {
  background: #7dc4b8;
  overflow: visible;
  display: block;
  width: 100%;
  color: #212E59;
  font-weight: bolder;

}


.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  height: 30vh;
  width: 30vw;
}

