.svg {
  background:whitesmoke;
  overflow: visible;
  display: block;
  width: 100%;
  height: 900px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 90%;
  height: 50%;
  margin: 50px;
}