.Home {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.buttons {
    margin: 5%;
    margin-right: 10%
}

.whatsThis {
    display: flex;
    width: 80vw;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 10vh;
}
