.testStyling {
    display: flex;
    flex-wrap: wrap;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

 .buttons {
    margin: 5%;
    margin-right: 10%
}

.graphs {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5vh;
    min-height: 200vh;
}
.global {
    min-width: 70vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.circ {
    padding-bottom: 5%;
    padding-top: 5%;
    padding-right: 15%;
    background-color: rgba(245, 245, 245, 0.9);
    border-radius: 1rem;
    box-shadow: 0 1px 0 3px rgba(0,0,0,.25);
}

.introduction {
    max-height: 5vh;
    margin: 0;
    padding: 0;
}
.modalButton {
    font-size: 12px;
    width: 30px;
    height: 30px;
}

.modalButton:focus{
    outline: none;
    box-shadow: 0 0 1px 2px #A4A6C9;
    box-shadow: 0 0 0 2px -moz-mac-focusring;
}

.whatsThis {
    display: flex;
    width: 80vw;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 10vh;
}

@media screen and (max-width: 900px) {
    .graphs {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 80vw;
        margin-left: 10%;
    }
    .global {
        min-width: 70vw;
    }

  }

