.marquee {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  margin-bottom: 5px;
  width: 100%;
}

.text {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 1000s linear infinite;
  color: darkgreen;
}


@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

@media screen and (max-width: 375px) {
  .marquee {
    height: 2em;
  }

  .text {
    font-size: 20px;
  }
}
@media screen and (max-width: 770) {
  .marquee {
    height: 5em
  }

  .text {
    font-size: 70px;
  }
}
@media screen and (min-width: 770px) {
  .marquee {
    height: 7em
  }

  .text {
    font-size: 100px;
  }
}