.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    .title{
        max-width: fit-content;
        transform: translateX(25%)
    }
    .x{
        width: fit-content;
        transform: translate(-300%, 50%);
    }
    .y{
        max-width: 100%;
        transform: rotate(90deg);
    }
    .graph{
        width: 100%;
        padding-left: 10%;
    }
    .left{
        transform: translate(-1100%, -300%);
        width: fit-content;
    }
}
