.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    .title{
        width: 100%;
        transform: translateX(25%)
    }
    .x{
        width: 100%;
        transform: translateX(25%)
    }
    .y{
        max-width: 100%;
        transform: rotate(90deg);
    }
    .graph{
        width: 100%;
        padding-left: 10%;
    }
    .left{
        display: flex;
        align-items: flex-start;
        transform: translate(-700%, -1100%);
    }
}
