.container {
  margin-bottom: 2vw;
  background: whitesmoke;
  padding: 2vw;
}

.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(245, 245, 245, 0.808);
  height: 8vw;
  padding-bottom: 15px;
}
.left {
  font-family: 'Roboto Mono';
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.title {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.plotapi {
  font-size: 7vw;
  font-family: heebo;
  margin-left: 2vw;
}
.subheading {
  font-size: 2.5vw;
  margin-left: 2vw;
}
.logo {
  width: 10vw;
}

.hidden {
  visibility: hidden;
}

.sessionNav {
  background-color: rgba(245, 245, 245, 0.808);
  display: flex;
  justify-content: flex-end;
}

.nav {
  background-color: whitesmoke;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  font-family: 'Roboto Mono';
  color: #223493;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  font-size: 3vw;
  border: 1.5px solid #A4A6C9;
  border-radius: .5rem;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  padding-top: 1vw;
  padding-bottom:1vw;
  margin-left: 1vw;
  margin-right: 1vw;
}

.link:hover {
  background-color: #223493;
  color: whitesmoke;
  border: 1.5px solid #223493;
  border-radius: .5rem;
  outline-style: none;
}

.active {
  background-color: #223493;
  color: whitesmoke;
  border: 1.5px solid #223493;
  border-radius: .5rem;
  outline-style: none;
}

@media screen and (min-width: 900px) {
  
  .container {
    padding: 15px;
  }
  
  .nav {
    justify-content: flex-end;
  }

  .Header {
    height: 100px;
    padding-top: 20px;
  }

  .plotapi {
    font-size: 80px;
    margin-left: 20px;
  }
    
  .subheading {
    font-size: 30px;
    margin-left: 20px;
  }

  .logo {
    width: 130px;
  }

  .link {
    font-size: 18px;
    width: 125px;
    padding: 10px;
    margin-left: 4px;
  }
}

@media screen and (min-width: 1250px) {

  .container {
    display: flex;
    padding: 15px;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}
