.container {
  margin-bottom: 2vw;
}

.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(245, 245, 245, 0.808);
  height: 8vw;
  padding: 1em;
}
.left {
  font-family: 'Roboto Mono';
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;

  .title {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    text-align: left;
    h2 {
      font-size: 6vw;
      font-family: heebo;
      margin-left: 2.5vw;
    }
    p {
      font-size: 2.5vw;
      margin-left: 2.5vw;
    }
  }

  .logo {
    width: 10vw;
  }

};

.hidden {
  visibility: hidden;
}

@media screen and (max-width: 475px) {
  .nav {
    background-color: rgba(245, 245, 245, 0.808);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: .5em;
  }
}

@media screen and (min-width: 476px) {
  .nav {
    background-color: rgba(245, 245, 245, 0.808);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-bottom: .5em;
  }
}
.sessionNav {
  background-color: rgba(245, 245, 245, 0.808);
  display: flex;
  justify-content: flex-end;
  margin-right: 2%;
  padding-bottom: .5em;
}

.link {
  background-color: whitesmoke;
  font-family: 'Roboto Mono';
  color: #223493;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
  border: 1.5px solid #A4A6C9;
  border-radius: .5rem;
  padding: .25em .5em .25em .5em;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
}

.link:hover {
  background-color: #223493;
  color: whitesmoke;
  border: 1.5px solid #223493;
  border-radius: .5rem;
  outline-style: none;
}

.active {
  background-color: #223493;
  color: whitesmoke;
  border: 1.5px solid #223493;
  border-radius: .5rem;
  outline-style: none;
}
