.Modal {
    position: fixed; 
    padding-top: 50px;
    left: 25vw; 
    top: 0;
    width: 45vw;
    height: 20vh; 
    border: 2px solid black;

    .closeButton {
        float: right; 
        color: lightgray; 
        font-size: 24px;  
        font-weight: bold;
      }
      
    }

    .modalShow{
        color:black;
        background-color: rgb(42, 133, 136);
        opacity: 1;
    }

    .modalHide {
        opacity: 0;
        pointer-events: none;
    }

      