.Modal {
    position: fixed; 
    padding: .5em;
    left: 25vw; 
    top: 30vh;
    width: 55vw;
    height: 20vh; 
    border: 1px solid #223493;
    border-radius: 1em;
    background-color: whitesmoke;      
    }

    button {
        float: right; 
        color: lightgray; 
        font-size: 16px;  
        font-weight: bold;
      }

    .modalShow{
        display: flex;
        flex-direction: column;
        align-items: center;
        color:black;
        opacity: 1;
    }

    .modalHeader {
        background: transparent;
    }

    .modalHide {
        opacity: 0;
        pointer-events: none;
    }

      