.container {
  align-self: center;
  margin-top: 30px;
}
.marquee {
  width: 80vw;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
}

.text {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 2000s linear infinite;
  font-size: 40px;
  color: #212E59;
}


@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

@media screen and (max-width: 770) {
  .marquee {
    height: 5em;
  }

  .text {
    font-size: 30px;
  }
}
@media screen and (max-width: 420px) {
  .marquee {
    height: 2em;
  }

  .text {
    font-size: 20px;
  }
}