.CvDGraphStats{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 22vw;
  margin-top: 3vw;
  margin-bottom: 3vw;
  border-radius: .5em;
  text-align: center;
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 100%;
    background: rgb(197, 209, 240);
    height: 100%;
    width: 22vw;
    
  }

  h2 {
    font-size: 3vw;
    font-weight: bold;
    height: 4vw;
    margin-bottom: 2vw;
  }

  h3 {
    font-size: 5vw;
  }

  .formula {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 90%;
    height: 100%;
  }

  @media screen and (min-width: 1200px) {
    height: 10vw;
    justify-content: space-around;

    .card {
      width: 10vw;
      justify-content: center;
    }

    h2 {
      font-size: 1.5vw;
      height: 2vw;
      margin-bottom: 0.5vw;
    }

    h3 {
      font-size: 2.2vw;
    }
}
}
